h2{
    color:indigo;
    background-color:lightskyblue;
    font-size: 60;
}
button{
    color:blueviolet;
    background-color: darksalmon;
    text-decoration: red underline dotted;
}
p{
    color:#0fbcc8;
    background-color: papayawhip;
    text-align: left;
    line-height: 1.5;
}
h1{
    text-align: center;
    font-weight: 400;
}
a{
    text-decoration: none;
}
span{
    color: darkblue;
}
.tag{
    color: blanchedalmond;
    background-color: rebeccapurple;
}
body{
    display: flex;
    
}
.button1:hover{
    background-color: #e1f1ff;
    color:aqua;
}
